<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>
</body>
</html>
